<div class="topnav">
  <div class="topnav-right">
    <div class="dropdown">
      <button class="dropbtn">May Co Lth. 
        <i class="fa fa-caret-down"></i>
      </button>
  </div>
  </div>
</div>

<div class="header-center">
<h1>{{title}}</h1>
</div>

<div class="body-center">
  <router-outlet></router-outlet>
  <!-- <div class="inputdetail" [hidden]="false">
  <app-input-detail></app-input-detail>
  </div>
  <div class="inputdetail" [hidden]="true">
  <app-reviews-confirm></app-reviews-confirm>
</div> -->
  </div>

