.control-label.required:after { 
    color: #d00;
    content: "*";
    margin-left: 5px;
    top:7px;
    font-weight:bold;
  }



.form-control{
  /* border-right: none; */
  width: 200px;
  float: right;
  border:2px solid #4f4f4f;
  border-radius:5px;
  text-align: end;
}





/* .input-group-text{
  background-color: rgb(255, 255, 255);
  } */

/* .input-group{
  width: 200px;
  float: right;
  border:2px solid #4f4f4f;
  border-radius:5px;
} */